.signup-page{
    position: relative;
}

.signup-container{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.signup-container > form{
    z-index: 1;
    box-shadow: 5px 5px 10px 5px #111;
    box-sizing: border-box;
    background-color: #f50;
    border-radius: 3px;
    color: #E0FBFC;
    display: flex;
    flex-direction: column;
    margin: 40px;
    opacity: 90%;
    padding:20px;
    align-items: center;
    justify-content: space-around;
    width: 350px;
}