ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    list-style-type: none;
    max-height: 46px;
    padding: none;
    z-index: 6600;
    position: fixed;
    width:100%;
    margin-top: 0px;
}
.logo-image {
    display:flex;
    justify-content: flex-start;
    position:relative;
    width: 100px;
    height: 46px;
    margin-top: 0;
}
body{
    margin-top: 0;
}
.nav-right{
    display: flex;
    position:relative;
    justify-content: flex-end;
}
.nav-search{
    display:flex;
    position: relative;
    justify-content: baseline;
    
}
.search_input{
    color:#666;
    background-color: #e5e5e5;
    padding:5px 7px;
    height:28px;
    border-color: #333;
    border-radius: 3px;
    width: 400px;
}
.search_input+button{
    background-color:#ff5500;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#createAccountButton{
    display:flex;
    background-color: #ff5500;
    color: white;
    border-color: #ff5500;
    border-radius: 3px;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    margin-left:10px;
    margin-right:50px;

}
