.vertically-centered{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width:auto;
    min-height: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-input{
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.login-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align:center;
    cursor:pointer;
    border:1px solid #e5e5e5;
    border-radius: 5px;
    padding:10px 15px;
    height: 40px;
    background-color: #f50;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.form-input{
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 10px;
}
.validation-msg{
    color:red;
}

#loginButton{
    background: transparent;
    color:#fff;
    border-color:#ccc;
}